

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768) and (max-width: 1023px)";

.marginBotton8{
    margin-bottom: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Lato", serif ;
}

body {
    background-color: #colors[backgroundColor];
    color: #colors[textColor]; 
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media  @breakpointMobile {
        max-width: 65%;
    }
    
    @media @breakpointTablet {
        max-width: 75%;
    }
}

header {
    padding: 24px;

    .profile-avatar {
        display: block;
        margin: 0 auto 18px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        //border: 1px solid rgb(0,0,0,0,0.9);
    }
}

.profile-bio {
    text-align: center;

    &-name{
        font-size:20px;
        .marginBotton8();
    }

    &-subtitle {
        font-size: 14px;
        .marginBotton8();
    }

    &-description {
        font-size: 14px;
        opacity: 0.7;
    }
}

li{
    list-style: none;
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    img {
        transition: all ease .3s;

        &:hover {
            transform: scale(1.3);
        }
    }
}


.projetos-lista {
    

    @media  @breakpointMobile {
        max-width: 65%;
    }
    
    @media @breakpointTablet {
        max-width: 75%;
    }

    &-item {
        a{
            text-decoration: none;
            background-color: #colors[buttonColor];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            margin-top: 32px;
            text-align: center;
            color: #colors[textColor];
            font-weight: bold;
            border-radius: 30px;
            border:1px solid #colors[buttonColor];
            transition: all ease .5s;

            &:hover {
                color: #colors[buttonColor];
                background-color: transparent;
                
            }
        }
    }
}


:root {
    --header-color: #0d1117;
    --bg-color: #eee;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: var(--bg-color);;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--header-color);
    text-align: center;
    height: 30vh;
}

header .container {
    position: relative;
    bottom: -50%;
}

.profile-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.profile-name {
    font-size: 2em;
}

.profile-username {
    margin: 16px 0 32px;
    font-size: 1.1em;
}

.profile-link {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 8px 16px;
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.numbers-item {
    font-size: 3em;
    font-weight: bold;
}

.numbers-item h4 {
    font-size: .3em;
}